<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Country Populations</title>
  <!-- you can use this  stylesheet if you want -->
  <!--link rel="stylesheet" href="AAA.css"-->
  <!-- Student edition, for homework purposes -->
</head>

<body>
  <main>
      {% if {{country}} != null%}
      <h1>{{country}} </h1>
      <h2>Population:!! {{population}} </h2>
      {% endif %}
      {% if all[length].population ==0 %}
      <h3>Could not find all[length].country</h3>
      <h4>Similary country names and populations:</h4>
          {% for allcountry in all %}
          <h1>{{allcountry.country}} </h1>
          <h2>Population:?? {{allcountry.population}} </h2>
          {% endfor%}
      {% endif %}

  </main>
</body>

</html>
