<header class="homeImage" id="home">
    <img class="home-image" src="image/home.png" alt="homePicture" width="1550" height="800"> 
    <div class="headText">
     <h1 class="restaurantname">Yun's <span>Restaurant</span></h1>
    </div>
</header>