<footer>
    <p><img src="image/location.png" alt="location" width="400" height="200" id="piccenter"/></p>
    <p>Address: 22560 Foothill Blvd, Hayward, CA 94541</p >
    <p>Open Hours: {{openhours.hours}}</p >
</footer>